@mixin border {

   &::before,
   &::after {
      display: block;
      content: '';
      z-index: -1;
      position: absolute;
      border-radius: 3rem;
   }

   &::before {
      top: -1.5%;
      left: -1.6%;
      height: 103%;
      width: 103%;
      background: linear-gradient(to bottom right, var(--color-primary) 10%, transparent 38%, transparent 68%, var(--color-primary) 87%);
   }

   &::after {
      top: -1%;
      left: -1%;
      height: 102%;
      width: 101.5%;
      background: #fff;
   }
}

.course {
   background-color: #fff;
   /* border: 3px solid var(--color-primary); */
   border-radius: 3rem;

   position: relative;
   @include border;

   & figure {
      padding: 3px;
      overflow: hidden;
      border-radius: 3rem;
   }

   &__img {
      height: 100%;
      width: 100%;
      object-fit: contain;
   }

   &__detail {
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2.2rem;
   }

   &__tag {
      background-color: var(--color-primary-extra-light);
      color: var(--color-primary);
      font-size: 1rem;
      font-weight: 600;
      padding: 1.05rem 1rem 1rem;
      border-radius: 0.5rem;
      text-align: center;
   }

   &__rating {
      justify-self: end;
      background-color: var(--color-primary);
      color: #fff;
      padding: 0.8rem 1rem;
      font-size: 1.5rem;
      border-radius: 3rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      & svg {
         transform: translateY(-1px);
      }

      & span {
         font-weight: 600;
      }
   }

   &__title {
      grid-column: 1 / -1;
      font-family: 'Sofiapro Bold', sans-serif;
      line-height: 2.3rem;
      letter-spacing: -0.5px;
   }

   &__video,
   &__lesson {
      font-family: 'Sofiapro Bold', sans-serif;
      font-size: 1.4rem;
      color: var(--color-text);
      display: flex;
      align-items: center;
      gap: 0.5rem;
   }

   &__video {
      justify-self: end;
   }
}