.feature {
   display: grid;
   grid-template-columns: min-content 1fr;
   grid-gap: 1rem 2rem;
   grid-template-rows: repeat(2, max-content);

   &__icon {
      grid-row: 1 / -1;
      align-self: start;

      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-0.5rem);
      padding: 1.8rem;
      border-radius: 50%;

      &-1 {
         background: var(--color-green-gradient);
      }

      &-2 {
         background: var(--color-purple-gradient);
      }

      &-3 {
         background: var(--color-pink-gradient);
      }
   }

   &__desc {
      color: var(--color-text);
      line-height: 2.8rem;
   }
}