.instructor-img {
   justify-self: end;
   background-color: var(--color-primary);
   border-radius: 35rem;
   height: 58rem;
   width: 92%;
   overflow: hidden;

   display: flex;
   align-items: flex-end;
   justify-content: center;
   position: relative;

   &::before {
      display: block;
      content: '';
      position: absolute;
      top: -3%;
      left: 36%;
      height: 80%;
      width: 88%;
      z-index: 1;
      border-radius: 15rem;
      transform: rotate(45deg);
      background-color: var(--color-secondary);
   }

   & img {
      z-index: 2;
      height: auto;
      width: 88%;
      object-fit: contain;
   }
}