.users {
   display: grid;
   grid-template-columns: repeat(3, max-content);
   grid-gap: 2rem;
   justify-content: end;

   &__user {
      border-radius: 50%;
      padding: 3px;

      &-1 {
         background-color: var(--color-pink);
         height: 8rem;
         width: 8rem;
         grid-column: 2 / span 1;
      }

      &-2 {
         background-color: var(--color-secondary);
         height: 6rem;
         width: 6rem;
         grid-column: 3 / span 1;
         grid-row: 2 / span 1;
      }

      &-3 {
         background-color: var(--color-primary);
         height: 5.5rem;
         width: 5.5rem;
         grid-column: 1 / span 1;
         grid-row: 3 / span 1;
      }

      & img {
         height: 100%;
         width: 100%;
         object-fit: cover;
         border-radius: 50%;
      }
   }
}